@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1em; }

@media screen and (max-width: 600px) {
  html {
    font-size: 5px; } }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  background-color: #fdfdfd; }

/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 0.7895rem; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 8.75px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 1.579rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #505050; }

.post {
  overflow: hidden; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #000;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 0.7895rem;
  font-size: 1.8em;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 1em;
  border: 1px solid lightgray;
  border-radius: 0.3em;
  background-color: #eef; }

code {
  padding: 0.053em 0.263em; }

pre {
  padding: 0.421em 0.632em;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(100rem - (1.579rem * 2));
  max-width: calc(100rem - (1.579rem * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.579rem;
  padding-left: 1.579rem; }
  @media screen and (max-width: 600px) {
    .wrapper {
      padding-right: 0.7895rem;
      padding-left: 0.7895rem; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

table {
  text-align: center;
  border-collapse: collapse;
  border: none;
  font-size: 0.85em;
  display: inline-block;
  line-height: 1.4em; }

.tablepadding {
  padding: 30px;
  display: inline-block;
  background: lavender;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto; }

.tablecontainer {
  overflow: auto;
  text-align: center; }

table caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.5em; }

th, td {
  padding: 0.4em 1em 0.4em 1em;
  border: solid;
  font-size: 1.1em; }

th {
  border-width: 1px;
  border-color: #A8A8A8; }

td {
  border-width: 1px;
  border-color: #D3D3D3;
  background-color: white; }

col.ch {
  background-color: #E0E0E0; }

col.data {
  width: 175px; }

tr.rh {
  background-color: #E0E0E0; }

th.th1 {
  text-align: left; }

th.th2 {
  padding-left: 4em;
  text-align: left;
  font-size: 0.95em;
  font-style: italic;
  width: 100px; }

td.same {
  background-color: #CCFF66;
  color: black; }

td.bitbetter {
  background-color: #66FF66;
  color: black; }

td.lotbetter {
  background-color: #00CC00;
  color: black; }

td.best {
  background-color: #009900;
  color: black; }

td.bitworse {
  background-color: #FF6666;
  color: black; }

td.lotworse {
  background-color: #CC3333;
  color: black; }

td.worst {
  background-color: red;
  color: black; }

td.empty {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALklEQVQIW2P8DwQMSODhw4cMjMiCIAF5eXmEIEwApAmsElkALPjgwYP/IC3IAABz6B+VzaCHWgAAAABJRU5ErkJggg==) repeat;
  text-align: center; }

td.corner {
  border: none;
  background: lavender; }

.site-header {
  margin-top: 1.579rem; }
  @media screen and (max-width: 600px) {
    .site-header {
      margin-top: 0.7895rem; } }

.site-footer {
  margin-top: 1.579rem;
  margin-bottom: 1.579rem; }
  @media screen and (max-width: 600px) {
    .site-footer {
      margin-top: 0.7895rem;
      margin-bottom: 0.7895rem; } }

.page-content {
  margin-top: 3.158rem; }
  @media screen and (max-width: 600px) {
    .page-content {
      margin-top: 1.579rem; } }

.image-series img {
  margin-bottom: 0.3em; }

.page-content {
  font-size: 1.8em; }
  .page-content img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .page-content .youtube {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .page-content img.content {
    margin-left: 0;
    margin-right: 0; }
  .page-content p {
    margin-bottom: 1.5em; }
  .page-content h1 {
    font-size: 175%; }
  .page-content h2 {
    font-size: 150%; }
  .page-content h3 {
    font-size: 125%; }
  .page-content h4 {
    font-size: 115%; }

body {
  background-image: url("/images/bgsubtle3.jpg");
  background-attachment: fixed; }
  @media screen and (max-width: 600px) {
    body {
      background-size: 250px; } }

.home {
  margin: 0;
  padding: 0; }

.post-list {
  margin: 0;
  padding: 0; }

.signature {
  font-size: 115%;
  text-align: right;
  margin-top: 3.5rem; }
  .signature p {
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    margin: 0; }
  .signature .signature-name {
    color: red; }

/**
 * Page content
 */
.page-heading {
  font-size: 20px; }

.post-meta {
  color: #828282; }

.post {
  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;
  border-radius: 2rem; }
  @media screen and (max-width: 600px) {
    .post {
      padding: 2.5rem; } }

/**
 * Posts
 */
.post-header {
  margin-bottom: 3.158rem;
  text-align: center; }

.post-list .post-header {
  margin-bottom: 1.579rem; }

.post-title {
  line-height: 1;
  padding: 0.5rem;
  border-radius: 0.4em; }

.post-content:not(:last-child) {
  margin-bottom: 1.579rem; }
  @media screen and (max-width: 600px) {
    .post-content:not(:last-child) {
      margin-bottom: 0.7895rem; } }

hr {
  display: block;
  border: 0px;
  height: 1.5em;
  margin: 40px 0 40px 0;
  background-size: 30em;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/Decoration.svg"); }

.videoWrapper {
  position: relative;
  padding-bottom: 75%;
  /* 4:3 */
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.caption {
  border-color: lightgray;
  border-width: 0.125em;
  border-style: solid;
  background-color: white;
  padding: 1em;
  border-radius: 1em; }

.caption > p {
  text-align: center;
  color: black;
  margin: 0; }

.caption > * {
  margin-top: 1em;
  margin-bottom: 1em; }

.caption :first-child {
  margin-top: 0; }

.caption :last-child {
  margin-bottom: 0; }

.important_list {
  list-style-position: inside;
  font-weight: bold; }

.site-header {
  text-align: center;
  /* layout */
  border-radius: 2em; }
  @media screen and (max-width: 600px) {
    .site-header {
      font-size: 0.75rem; } }
  .site-header .wrapper > div {
    display: inline-block;
    border-radius: 3em !important;
    padding: 1.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    overflow: visible; }
  .site-header .background-overlay {
    background-image: url("/images/background-blur3.jpg");
    background-color: white; }
    @media screen and (max-width: 600px) {
      .site-header .background-overlay {
        background-size: 250px; } }
  .site-header .site-nav {
    margin-top: 0.5em; }
  .site-header .site-title {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 7em;
    line-height: 0.9em;
    font-weight: 900;
    overflow: hidden;
    /* header text color */
    border-radius: 0.3em; }
    .site-header .site-title .title {
      word-spacing: -0.114em;
      letter-spacing: -0.043em; }
      .site-header .site-title .title .name {
        color: red;
        border-radius: 0.25em;
        border: 3px solid black;
        border-style: solid none none none;
        display: inline-block;
        border-color: red; }
    .site-header .site-title .subtitle {
      font-size: 70%;
      font-weight: 300;
      color: #ffc3cd; }
      .site-header .site-title .subtitle::before {
        content: "("; }
      .site-header .site-title .subtitle::after {
        content: ")"; }
    .site-header .site-title a, .site-header .site-title a:hover {
      text-decoration: none; }
    .site-header .site-title a, .site-header .site-title a:visited {
      color: #424242; }
  .site-header .site-nav {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 2.4em;
    font-weight: 500;
    border-radius: 0.5em;
    border-width: 2px;
    padding: 0 1em 0 1em;
    background-color: lightgray;
    color: gray;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media screen and (max-width: 600px) {
      .site-header .site-nav {
        font-size: 3.2em; } }
    .site-header .site-nav .page-link {
      color: #4d4d4d;
      line-height: 1.5; }
    @media screen and (max-width: 600px) {
      .site-header .site-nav {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.site-footer {
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  text-align: center; }
  .site-footer .background-overlay {
    background-image: url("/images/background-blur.jpg");
    background-color: white; }
    @media screen and (max-width: 600px) {
      .site-footer .background-overlay {
        background-size: 250px; } }
  .site-footer ul {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    margin: 0;
    margin-left: auto;
    margin-right: auto; }
  .site-footer li {
    display: inline-block;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.75rem;
    border: 0px solid;
    width: 12em;
    margin-bottom: 0;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    margin-left: 0.25em;
    margin-right: 0.25em; }
  .site-footer img, .site-footer svg {
    height: 1.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle; }
  .site-footer .rss {
    background-color: pink;
    border-color: salmon; }
    .site-footer .rss path {
      fill: #9999ff; }
    .site-footer .rss a, .site-footer .rss a:visited {
      color: #af594f; }
  .site-footer .twitter {
    background-color: lightblue;
    border-color: #9999ff; }
    .site-footer .twitter path {
      fill: #9999ff; }
    .site-footer .twitter a, .site-footer .twitter a:visited {
      color: #7f7fff; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.timeline *, .timeline *:before, .timeline *:after {
  box-sizing: border-box; }
.timeline {
  padding: 10px;
  background: #E3E2F0;
  border-radius: 15px; }
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  font-family: Georgia, serif;
  text-align: center;
  font-weight: bold; }
.timeline h1 {
  margin: 8px 0 15px 0;
  font-size: 130%;
  color: #282548; }
.timeline > section {
  margin: 10px 5px 10px 5px;
  padding: 8px 12px 8px 12px;
  text-align: left;
  background-color: #fdfdfe;
  border: solid;
  border-color: #bcbadb;
  border-width: 5px;
  border-radius: 10px; }
  .timeline > section h2 {
    margin: 10px 5px 13px 5px;
    font-size: 100%;
    color: #363363; }
.timeline ul {
  padding: 0;
  margin: 0; }
.timeline .sub-list ul {
  display: inline; }
.timeline li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  list-style-type: none; }
.timeline li > span {
  height: 28px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 28px; }
.timeline .days {
  font-size: 80%; }
  .timeline .days::before {
    content: "\00D7"; }
.timeline .category-transport, .timeline .status-in-progress {
  border-width: 3px;
  line-height: 22px; }
.timeline .category-transport {
  border: dotted; }
.timeline .status-in-progress {
  border: solid;
  border-color: #ffff4d; }
.timeline .sub-list {
  border-radius: 5px;
  display: inline;
  padding: 0; }
  .timeline .sub-list > h3 {
    display: none; }
.timeline .sub-list li:nth-child(1)::before {
  font-family: sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 10.5px;
  width: 14px;
  letter-spacing: 28px;
  font-size: 10.5px;
  font-weight: bold;
  word-wrap: break-word; }
.timeline li > span {
  color: #1a1a1a;
  background-color: #a6a6a6;
  border-color: #343434; }
.timeline .days {
  color: #5a5a5a; }
.timeline .sub-list > ul > li {
  background-color: gray; }
.timeline .sub-list li:nth-child(1)::before {
  color: #4d4d4d;
  display: none; }
.timeline .sub-list li > span > a {
  background-color: #b3b3b3; }
.timeline .united-states li > span {
  color: #2e7e99;
  background-color: #e8f4f8;
  border-color: #3a9fc0; }
.timeline .united-states .days {
  color: #72bcd4; }
.timeline .united-states.sub-list > ul > li {
  background-color: lightblue; }
.timeline .united-states.sub-list li:nth-child(1)::before {
  color: #5fb3ce;
  display: none; }
.timeline .united-states.sub-list li > span > a {
  background-color: #fbfdfe; }
.timeline .canada li > span {
  color: #1b6d1b;
  background-color: #b4ecb4;
  border-color: #259625; }
.timeline .canada .days {
  color: #3ace3a; }
.timeline .canada.sub-list > ul > li {
  background-color: #77DD77; }
.timeline .canada.sub-list li:nth-child(1)::before {
  color: #30be30;
  display: none; }
.timeline .canada.sub-list li > span > a {
  background-color: #c9f1c9; }
.timeline .united-kingdom li > span {
  color: #7a4800;
  background-color: #ffd393;
  border-color: #ad6600; }
.timeline .united-kingdom .days {
  color: #f99200; }
.timeline .united-kingdom.sub-list > ul > li {
  background-color: #FFB347; }
.timeline .united-kingdom.sub-list li:nth-child(1)::before {
  color: #e08300;
  display: none; }
.timeline .united-kingdom.sub-list li > span > a {
  background-color: #ffddad; }
.timeline .spain li > span {
  color: #af1358;
  background-color: #fcdfec;
  border-color: #dd1870; }
.timeline .spain .days {
  color: #ec5598; }
.timeline .spain.sub-list > ul > li {
  background-color: #F49AC2; }
.timeline .spain.sub-list li:nth-child(1)::before {
  color: #ea3e8a;
  display: none; }
.timeline .spain.sub-list li > span > a {
  background-color: #fef6fa; }
.timeline .france li > span {
  color: #653363;
  background-color: #e5cce4;
  border-color: #864584; }
.timeline .france .days {
  color: #b166ae; }
.timeline .france.sub-list > ul > li {
  background-color: #CB99C9; }
.timeline .france.sub-list li:nth-child(1)::before {
  color: #a856a5;
  display: none; }
.timeline .france.sub-list li > span > a {
  background-color: #eddded; }
.timeline .united-states.sub-list li:nth-child(1)::before {
  display: inline-block;
  content: "US"; }
.timeline .canada.sub-list li:nth-child(1)::before {
  display: inline-block;
  content: "CA"; }
.timeline .united-kingdom.sub-list li:nth-child(1)::before {
  display: inline-block;
  content: "UK"; }
.timeline .spain.sub-list li:nth-child(1)::before {
  display: inline-block;
  content: "ES"; }
.timeline .france.sub-list li:nth-child(1)::before {
  display: inline-block;
  content: "FR"; }
.timeline .netherlands.sub-list li:nth-child(1)::before {
  display: inline-block;
  content: "NA"; }
.timeline .ship {
  color: #e6e6ff !important;
  background-color: #1a1aff !important;
  border-color: #b3b3ff !important; }
.timeline .ship .days {
  color: #8080ff !important; }
.timeline .train {
  color: #ffd280 !important;
  background-color: #b37300 !important;
  border-color: #ffc04d !important; }
.timeline .train .days {
  color: #ffae1a !important; }
.timeline li {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0; }
.timeline section > ul > li {
  margin-right: 9px; }
  .timeline section > ul > li:last-child {
    margin-right: 0; }
.timeline .sub-list li {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
  padding-bottom: 4px; }
.timeline .sub-list li:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
.timeline .sub-list li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.new_jekyll_assets {
  padding: 25px;
  border: dotted;
  border-width: 5px;
  border-color: #d8b2d8;
  color: #1d1d91;
  background-color: lavender;
  font-size: 95%;
  border-radius: 10px; }
  .new_jekyll_assets code {
    background-color: pink; }
  .new_jekyll_assets h1 {
    font-size: 135%;
    font-weight: bold;
    margin-bottom: 30px; }
  .new_jekyll_assets .asset-name {
    font-weight: bold; }

.code-source {
  background-color: #ffdb99;
  color: #996300;
  padding: 5px 10px 5px 10px;
  margin: 5px auto 5px auto;
  font-size: 105%;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px; }
  .code-source::before {
    font-size: 120%;
    margin-right: 2px;
    padding: 2px;
    color: red;
    content: "☎"; }
  .code-source p {
    display: inline; }

.image_with_caption {
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
  border-color: #99cfe0; }
  .image_with_caption figure {
    margin: 0;
    display: table; }
    .image_with_caption figure img {
      padding: 5px;
      margin: 3px;
      margin-bottom: 1.5px; }
    .image_with_caption figure figcaption {
      font-style: italic;
      font-weight: 500;
      font-size: 0.8em;
      color: black;
      margin: 3px;
      padding: 5px;
      margin-top: 1.5px;
      border-radius: 3px;
      background-color: #c1e1ec;
      display: table-caption;
      caption-side: bottom; }

article h2 {
  font-weight: 500; }
article > h1, article > h2, article > h3, article > h4, article > h5, article > h6 {
  color: #505050;
  margin-left: -1.62em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em 0 0.3em 0.7em;
  line-height: initial; }
  article > h1::before, article > h2::before, article > h3::before, article > h4::before, article > h5::before, article > h6::before {
    content: "❡";
    display: inline-block;
    width: 0.7em;
    margin-right: 0.2em;
    color: lightgray;
    height: 100%;
    padding-top: auto;
    padding-bottom: auto; }
  article > h1 a, article > h2 a, article > h3 a, article > h4 a, article > h5 a, article > h6 a {
    border-bottom: dotted;
    border-color: lightgray;
    border-width: 2px; }
    article > h1 a, article > h1 a:hover, article > h1 a:visited, article > h2 a, article > h2 a:hover, article > h2 a:visited, article > h3 a, article > h3 a:hover, article > h3 a:visited, article > h4 a, article > h4 a:hover, article > h4 a:visited, article > h5 a, article > h5 a:hover, article > h5 a:visited, article > h6 a, article > h6 a:hover, article > h6 a:visited {
      color: inherit; }
    article > h1 a:hover, article > h2 a:hover, article > h3 a:hover, article > h4 a:hover, article > h5 a:hover, article > h6 a:hover {
      text-decoration: none; }

/**
 * Archive
 */
.archive {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.archive_list {
  list-style: none; }

.archive_year_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around; }

.archive_year_element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media screen and (max-width: 600px) {
    .archive_year_element {
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.archive_year {
  -webkit-flex-shrink: 0;
  -webkit-flex-grow: 0;
  -moz-flex-shrink: 0;
  -moz-flex-grow: 0;
  -webkit-flex-basis: 50px;
  -moz-flex-basis: 50px;
  flex-basis: 50px;
  text-align: right; }
  @media screen and (max-width: 600px) {
    .archive_year {
      text-align: left;
      -webkit-flex-basis: auto;
      -moz-flex-basis: auto;
      flex-basis: auto; } }

.archive_month_list {
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around; }
  @media screen and (max-width: 600px) {
    .archive_month_list {
      margin: 0; } }

.archive_month_element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  @media screen and (max-width: 600px) {
    .archive_month_element {
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.archive_month {
  -webkit-flex-shrink: 0;
  -webkit-flex-grow: 0;
  -moz-flex-shrink: 0;
  -moz-flex-grow: 0;
  -webkit-flex-basis: 100px;
  -moz-flex-basis: 100px;
  flex-basis: 100px;
  text-align: right;
  color: darkblue; }
  @media screen and (max-width: 600px) {
    .archive_month {
      text-align: left;
      -webkit-flex-basis: auto;
      -moz-flex-basis: auto;
      flex-basis: auto; } }

.archive_post_list {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around; }
  @media screen and (max-width: 600px) {
    .archive_post_list {
      margin: 0; } }

.archive_post {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  border-radius: 15px;
  border-width: 2px;
  margin: 5px 0 5px 0;
  height: 70px;
  overflow: hidden; }

.archive_blurb_test_container h3 {
  margin: 0;
  word-wrap: none;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap; }

.archive_blurb_test_container p {
  font-size: 75%;
  line-height: 15px;
  margin-top: auto;
  margin-bottom: auto; }

.archive_post_image {
  -webkit-flex-shrink: 0;
  -webkit-flex-grow: 0;
  -moz-flex-shrink: 0;
  -moz-flex-grow: 0;
  -webkit-flex-basis: 70px;
  -moz-flex-basis: 70px;
  flex-basis: 70px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px; }

.archive_post_blurb {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 3px;
  overflow: hidden;
  color: black; }

.archive_blurb_test_container {
  overflow: hidden; }
