---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
//$base-font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$base-font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
// $base-font-family: Georgia, Times, "Times New Roman", serif;
$header-font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$alert-font-family: $header-font-family;

$base-font-size: 9.5px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// TODO: figure out how to untangle these
$spacing-unit:                          4.5rem;
$layout-spacing-unit:                   2rem; //AB: vertical
$content-horizontal-padding-unit:       4rem; //AB:
$content-horizontal-padding-unit-small: 3rem; //AB:

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);

$on-palm:          600px;
$on-laptop:        -1px; //TODO: temporarily disabled
$content-width:    105rem;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// TODO: move elsewhere
@mixin category-color($color-name, $default-color) {
  @if variable-exists($color-name) {
      background-color: $color-name;
  }
  @else {
      background-color: $default-color;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // "compass",
        "prefixes",
        "base",
        "layout",
        "header",
        "footer",
        "syntax-highlighting",
        "timeline-map",
        "post-extras",
        "post",
        "archive"
;
