---
layout: default
---

<div class="home">
  <h1 class="page-heading">Archive</h1>

  <p>
    <!-- This is a little bonkers, coming in at O(N^3), but it's simple and more understandable
    than the alternatives. If performance becomes an issue I will revisit. -->

    <!-- TODO: JS filtering for categories and stuff. -->

    <ul>
      {% assign posts = (site.posts | where: "layout" , "java-tutorials") %}
      {% for page in tutorials %}
      {% endfor %}
    </ul>

    <ul class="higher_year_list archive_list">
      {% for year_check in site.posts %}
        {% capture year_check_year %}{{ year_check.date | date: "%Y" }}{% endcapture %}

        {% if year_check_year != year %}
          {% capture year %}{{ year_check_year }}{% endcapture %}

          <li class="clearfix">
            <span class="left-year-floater"><h2 class="archive_list_title archive_header">{{ year }}</h2></span>
            <span class="right-year-floater"><ul class="year_list archive_list">
              {% for month_check in site.posts %}
                {% capture month_check_year %}{{ month_check.date | date: "%Y" }}{% endcapture %}
                {% capture month_check_month %}{{ month_check.date | date: "%B" }}{% endcapture %}

                {% if month_check_year == year %}
                  {% if month_check_month != month %}
                    {% capture month %}{{ month_check_month }}{% endcapture %}

                    <li class="clearfix">
                      <span class="left-floater"><h3 class="archive_list_title archive_header">{{ month }}</h3></span>
                      <span class="right-floater"><ul class="month_list archive_list">
                        {%for post in site.posts %}
                          {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                          {% capture post_month %}{{ post.date | date: "%B" }}{% endcapture %}

                          {% if year == post_year %}
                            {% if month == post_month %}

                              <li>
                                <!-- capture the name of the expected category color selector -->
                                {% if post.categories != empty %}
                                  {% capture category_selector_name %}category-{{ post.categories[0] }}-color{% endcapture %}
                                {% else %}
                                  {% capture category_selector_name %}category-default-color{% endcapture %}
                                {% endif %}

                                <!-- capture the selector-ified post id -->
                                <!-- TODO: add as variable, maybe? -->
                                {% capture post_id %}{{ post.id | cgi_escape | replace: "%", "_" }}{% endcapture %}

                                <!-- create the sass to color the banner -->
                                {% capture to_scssify %}
                                  {% include categories.scss %}
                                  @if variable-exists({{ category_selector_name }}) {
                                    #{{ post_id }} {
                                      background-color: ${{ category_selector_name }};
                                    }
                                  }
                                {% endcapture %}

                                <!-- apply the generated color style -->
                                <style>
                                  {{ to_scssify | scssify }}
                                </style>

                                <!-- the banner itself -->
                                <span id="{{ post_id }}" class="post_blurb {{ category_selector_name }}"><a href="{{ post.url }}">{{ post.title }}</a>{% if post.categories != empty %} ({{ post.categories }}){% endif %}</span> — <small>{{ post.excerpt | strip_html | truncatewords: 10 }}</small>
                              </li>

                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </ul></span>
                    </li>

                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul></span>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </p>

<!--   <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} </span>

        <h3>
        <a class="post-archive-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul> -->

</div>
