---
layout: default
---

<div class="home">
  <h1 class="page-heading">Archive</h1>

  <div class="archive">
    <!-- This is a little bonkers, coming in at O(N^3), but it's simple and more understandable
    than the alternatives. If performance becomes an issue I will revisit. -->

    <!-- TODO: JS filtering for categories and stuff. -->

    <ul>
      {% assign posts = (site.posts | where: "layout" , "java-tutorials") %}
      {% for page in tutorials %}
      {% endfor %}
    </ul>

    <ul class="archive_year_list archive_list">
      {% for year_check in site.posts %}
        {% capture year_check_year %}{{ year_check.date | date: "%Y" }}{% endcapture %}

        {% if year_check_year != year %}
          {% capture year %}{{ year_check_year }}{% endcapture %}
          {% assign month = false %}

          <li class="archive_year_element">
            <h2 class="archive_year">{{ year }}</h2>
            <ul class="archive_month_list archive_list">
              {% for month_check in site.posts %}
                {% capture month_check_year %}{{ month_check.date | date: "%Y" }}{% endcapture %}
                {% capture month_check_month %}{{ month_check.date | date: "%B" }}{% endcapture %}

                {% if month_check_year == year %}
                  {% if month_check_month != month %}
                    {% capture month %}{{ month_check_month }}{% endcapture %}

                    <li class="archive_month_element">
                      <h2 class="archive_month">{{ month }}</h2>
                      <ul class="archive_post_list archive_list">
                        {%for post in site.posts %}
                          {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                          {% capture post_month %}{{ post.date | date: "%B" }}{% endcapture %}

                          {% if year == post_year %}
                            {% if month == post_month %}

                              <li class="archive_post_element">
                                <!-- capture the name of the expected category color selector -->
                                {% if post.categories != empty %}
                                  {% capture category_color_name %}category-{{ post.categories[0] }}-color{% endcapture %}
                                {% else %}
                                  {% capture category_color_name %}category-default-color{% endcapture %}
                                {% endif %}

                                <!-- capture the selector-ified post id -->
                                <!-- TODO: add as variable, maybe? -->
                                {% capture post_id %}{{ post.id | cgi_escape | replace: "%", "_" }}{% endcapture %}

                                <!-- create the sass to color the banner -->
                                {% capture to_scssify %}
                                  {% include categories.scss %}

                                  @if variable-exists({{ category_color_name }}) {
                                    #{{ post_id }} {
                                      background-color: ${{ category_color_name }};
                                    }
                                    #{{ post_id }}-inner {
                                      background-color: lighten(${{ category_color_name }}, 10%);
                                    }
                                    #{{ post_id }} {
                                      border-color: darken(${{ category_color_name }}, 5%);
                                    }
                                  }
                                  @else {
                                    #{{ post_id }} {
                                      background-color: $category-default-color;
                                    }
                                    #{{ post_id }}-inner {
                                      background-color: lighten($category-default-color, 10%);
                                    }
                                  }
                                {% endcapture %}

                                <!-- apply the generated color style -->
                                <style>
                                  {{ to_scssify | scssify }}
                                </style>

                                <!-- the banner itself -->
                                <a href="{{ post.url }}">
                                  <div id="{{ post_id }}" class="archive_post">
                                    <div class="archive_post_image"><img src="http://www.iconsdb.com/icons/download/royal-blue/right-circular-512.png"></img></div>
                                    <div id="{{ post_id }}-inner" class="archive_post_blurb">
                                      <div class="archive_blurb_test_container">
                                        <h3>{{ post.title }}{% if post.categories != empty %} ({{ post.categories }}){% endif %}</h3>
                                        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html | truncatewords: 50 }}{% endif %}</p>
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </li>

                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </ul></span>
                    </li>

                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul></span>
          </li>

        {% endif %}
      {% endfor %}
    </ul>

  </div>

<!--   <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} </span>

        <h3>
        <a class="post-archive-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul> -->

</div>
