---
layout: default
---
<div class="wrapper">

<div class="home">
    <ul class="post-list">{% for post in site.posts %}
        <li id="{{ post.selector_id }}" class="document-post{% include category_class.scss post=post %}">
            <header class="section-header">
                <h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
                <h2 class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</h2>
            </header>

            <article class="section-content">
            {{ post.excerpt }} 
            <a href="{{ post.url | prepend: site.baseurl }}"><span class="more-inside">Continue Reading...</span></a>
            </article>
        </li>{% endfor %}
    </ul>
</div>

</div>