<style>
{% filterize scssify %}
$color: darken(rgb(198, 234, 255), 2%);
.toc.composers-sketchpad {
    background-color: $color;

    font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.9em;
    font-weight: 500;

    .toc-header > p {
        color: #444;
    }

    // TODO: make these HTML templates w/CSS class
    .toc-links > ol li:nth-child({{ include.index }}) {
        color: white;
        border-radius: 0.5em;
        background-color: mix(black, $color, 30%);
    }
    .toc-links > ol li:nth-child({{ include.index }}) a {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
        color: inherit;
    }
}
{% endfilterize %}
</style>

<div class="toc composers-sketchpad subtle-shadow">
    <div class="toc-header">
        <a href="http://www.composerssketchpad.com"><img src="{{ site.baseurl }}/images/composers_sketchpad_icon.png"></img></a>
        <p>This blog post is part of a series on the development of <a href="http://www.composerssketchpad.com">Composer's Sketchpad</a>, a new iPad app for making musical rough drafts and doodles.</p>
    </div>

    <div class="toc-links">
        <ol>
            <li><a href="/2016/02/05/composers-sketchpad">Rethinking Musical Notation with Composer's Sketchpad</a></li>
            <li><a href="/2016/02/27/path-rendering-in-composers-sketchpad">Path Rendering in Composer's Sketchpad</a></li>
            <li><a href="/2016/03/24/liberating-pitch-and-taming-midi-in-composers-sketchpad/">Liberating Pitch and Taming MIDI in Composer's Sketchpad</a></li>
            <li><a href="/2016/07/16/composers-sketchpad-adventures-in-icon-design/">Composer's Sketchpad: Adventures in Icon Design</a></li>
        </ol>
    </div>
</div>