<footer class="site-footer">
    <!-- full-width background container -->
    <div class="site-footer-background header-footer-background">
        <!-- centered padded section -->
        <div class="site-footer-container wrapper">
            <div class="site-footer-credits">
                <p>Copyright &copy; 2017 Alexei Baboulevitch. ("It's copylicious!")</p>
            </div>
            <div class="site-footer-links"> <!-- not really a list, so I don't feel bad about using div -->
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/images/feed-icon.png" class="header-footer-icon"></img> <span>Subscribe via RSS</span></a>
                <a href="https://twitter.com/{{ site.twitter_username }}"><img src="{{ site.baseurl }}/images/twitter-icon.png" class="header-footer-icon"></img> <span>Tweet me up</span></a>
            </div>
        </div>
    </div>
</footer>