<header class="site-header">
    <!-- full-width background container -->
    <div class="site-header-title-background">
        <!-- centered padded section -->
        <div class="site-header-title-container wrapper">
            <div class="site-title">
                <a href="{{ site.baseurl }}/"><img src="{{ site.basurl }}/images/avatar2.jpg" class="site-title-icon"></img></a>
                <a href="{{ site.baseurl }}/">{{ site.html_title }}</a>
            </div>
        </div>
    </div>
    <!-- full-width background container -->
    <div class="site-header-nav-background header-footer-background">
        <!-- centered padded section -->
        <div class="site-nav-container wrapper">
            <nav class="site-nav">
                <ul>
                    <li><a class="site-nav-page-link" href="{{ site.baseurl }}/">Blog</a></li>
                    <!-- <li><a class="site-nav-page-link" href="{{ site.baseurl }}/timeline/">Travel</a></li> -->
                    <li><a class="site-nav-page-link" href="{{ site.baseurl }}/archive/">Archive</a></li>
                    <li><a class="site-nav-page-link" href="{{ site.baseurl }}/projects/">Projects</a></li>
                    <li><a class="site-nav-page-link" href="{{ site.baseurl }}/about/">About</a></li>
                    <li><span class="site-nav-page-link site-nav-page-link-icons"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/images/feed-icon.png" class="header-footer-icon"></img></a>/<a href="https://twitter.com/{{ site.twitter_username }}"><img src="{{ site.baseurl }}/images/twitter-icon.png" class="header-footer-icon"></img></a></span></li>
                </ul>
            </nav>
        </div>
    </div>
</header>