<section>
    <h2>Europe Trip 2014+</h2>
    <ul
        ><li class="sub-list united-states"
            ><ul
                ><li><span>New Orleans</span></li
            ></ul
        ></li
        > <li><span class="category-transport ship">Cruise</span></li
        > <li class="sub-list spain"
            ><ul
                ><li><span>Barcelona</span></li
            ></ul
        ></li
        > <li class="sub-list france"
            ><ul
                ><li><span>Paris</span></li
            ></ul
        ></li
        > <li class="sub-list united-kingdom"
            ><ul
                ><li><span>London</span></li
                ><li><span>Penzance</span></li
                ><li><span class="bidirectional">St. Ives</span></li
                ><li><span>Bath</span></li
                ><li><span>Oxford</span></li
                ><li><span>Cambridge</span></li
                ><li><span>York</span></li
                ><li><span>Newcastle</span></li
                ><li><span class="bidirectional">Durham</span></li
                ><li><span class="location-present">Edinburgh</span></li
            ></ul
        ></li
        > <li class="sub-list"
            ><ul
                ><li><span>Amsterdam</span></li
            ></ul
        ></li
        > <li><span>Frankfurt</span></li
    ></ul>
</section>