<section>
    <h2>US Trip 2013</h2>
    <ul
        ><li class="sub-list united-states"
            ><ul
                ><li><span class="status-done">Seattle <span class="days">9</span></span></li
            ></ul
        ></li
        > <li class="sub-list canada"
            ><ul
                ><li><span class="status-in-progress">Vancouver <span class="days">2</span></span></li
                ><li><span class="category-transport train">Train <span class="days">4</span></span></li
                ><li><span>Toronto <span class="days">12</span></span></li
                ><li><span>Montreal <span class="days">10</span></span></li
                ><li><span class="bidirectional">Quebec <span class="days">5</span></span></li
            ></ul
        ></li
        > <li class="sub-list united-states"
            ><ul
                ><li><span>New York <span class="days">21</span></span></li
                ><li><span class="bidirectional">Boston <span class="days">7</span></span></li
                ><li><span>Philadelphia <span class="days">3</span></span></li
                ><li><span>Chicago <span class="days">7</span></span></li
                ><li><span>New Orleans <span class="days">6</span></span></li
                ><li><span>Houston <span class="days">1</span></span></li
                ><li><span>Austin <span class="days">8</span></span></li
                ><li><span>Los Angeles <span class="days">3</span></span></li
            ></ul
        ></li
    ></ul>
</section>