//////////////////
// Global Stuff //
//////////////////

.archive {
    // lists are used for semantics, not presentation
    ul {
        // override <ul> default
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

        list-style: none;
    }

    // override default header margins
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

////////////////
// Flex Stuff //
////////////////

// list of year blocks
.archive-year-list {
    @include flexbox;
    @include flex-direction-column;
    @include flex-wrap-nowrap;
    @include justify-content-space-around;
}

// a year block
.archive-year-element {
    @include flexbox;
    @include flex-direction-column;
    @include flex-wrap-nowrap;
    @include justify-content-space-around;
}

// the year
.archive-year {
    // no more need for flex-basis b/c we're always vertical
}

// list of month blocks
.archive-month-list {
    @include flexbox;
    @include flex-direction-column;
    @include flex-wrap-nowrap;
    @include justify-content-space-around;
}

// a month block
.archive-month-element {
    @include flexbox;
    @include justify-content-space-around;

    @include flex-direction-row;
    @include flex-wrap-nowrap;
    @include media-query($on-palm) {
        @include flex-direction-column;
        @include flex-wrap-nowrap;
    }

    // ensures that month label and first post are aligned
    // TODO: why does this not work under Edge?
    // @include align-items-baseline;
}

// the month
.archive-month {
    @include flex-grow(0);
    @include flex-shrink(0);

    // fixed width when horizontal, but back to auto when vertical
    @include flex-basis(7em);
    @include media-query($on-palm) {
        @include flex-basis(auto);
    }
}

// list of post blocks
.archive-post-list {
    @include flexbox;
    @include flex-direction-column;
    @include flex-wrap-nowrap;
    @include flex-grow(1);
    @include flex-shrink(1);
    @include flex-basis(auto);
}

// a post block
.archive-post {
    @include flexbox;
    @include flex-direction-row;
    @include flex-wrap-nowrap;
    // @include justify-content(space-around);
    @include justify-content-flex-start;
}

////////////////
// Appearance //
////////////////

.archive-year {
    color: red;
    border-bottom: solid 1px lightgray;
}

.archive-year-element {
    .archive-year {
        font-size: 1.7em;
        margin-top: 1.2em;
        margin-bottom: 0;
    }

    // manually collapsing margins -- top of page
    &:first-child {
        .archive-year {
            margin-top: 0;
        }
    }
}

// month list indentation
// ul.archive-month-list {
//     padding-left: 1em;
//     @include media-query($on-palm) {
//         padding-left: 0; //different arrangement
//     }
// }

ul.archive-month-list {
    font-size: 0.9em;
    margin-top: 0.9em;
}

// margins between months
// .archive-month-element {
//     // no automatically collapsing margins here, unfortunately
//     margin-bottom: 1.0em;
//     &:first-child {
//         margin-top: 1.0em;
//     }
//     &:last-child {
//         margin-bottom: 0;
//     }
// }

.archive-month {
    text-align: left;
}

.archive-month-element {
    h3 {
        font-size: 140%;
    }
}

.archive-post-list {
    // allows for title cropping with ellipses
    white-space: nowrap;
    overflow: hidden;

    // post blocks should always fill width (compact)
    width: 100%;
}

.archive-post-blurb {
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    border-radius: 0.75rem;
    overflow: hidden;

    // post blocks should always fill width (non-compact)
    text-align: center;
    width: 100%;
}

.archive-post {
    h4 {
        font-size: 130%;
        line-height: 1.4;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        padding: 0.1rem 1.25rem;
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        h4 {
            // padding: 0.1rem 1.25rem;
            color: white;
        }
    }
}

/////////////////////
// Category Legend //
/////////////////////

// override from above
ul.archive-legend {
    margin-top: 2em;
    margin-bottom: 2em;
}

.archive-legend {
    // bag of legend items
    @include flexbox;
    @include flex-direction-row;
    @include flex-wrap-wrap;
    @include justify-content-center;

    font-family: $alert-font-family;
    font-size: 1.05em; // TODO: center text, make squares size according to em
    font-weight: 100;
    // font-weight: 400;
    color: $grey-color;

    // border-style: solid;
    // border-width: 2px;
    // padding: 2rem;
    // border-radius: 2rem;
    // border-color: lightgray;
    // background-color: #ddd;

    width: 80%;
    @include media-query($on-palm) {
        width: 100%;
    }

    margin-left: auto;
    margin-right: auto;
}

// category color cube and title
.archive-legend-item {
    @include flexbox;
    @include flex-direction-row;
    @include flex-wrap-nowrap;
    @include align-items-center;

    margin: 0.4em 0.7em;

    text-transform: capitalize;

    .category-swatch {
        display: inline-block;
        width: 1.0em;
        height: 1.0em;
        border-radius: 0.5em;
        margin-right: 0.4em;
    }
}