//////////////
// Includes //
//////////////

// %clearfix {
//     &:after {
//         content: "";
//         display: table;
//         clear: both;
//     }
// }

// TODO: figure out how to make this compatible with clearfix 
// TODO: should this include display: block?
// h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure,
%vertical-rhythm {
    //&:not(:last-child) { //AB: seems to be the way to go
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
        // @include media-query($on-palm) {
        //     margin-bottom: $layout-spacing-unit / 2;
        // }
    //}
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//////////////////////
// Top-Level Config //
//////////////////////

// border box sizing
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

// reset for em and rem
html {
    font-size: 10px;
}
body {
    font-size: $base-font-size;
}

// responsive font sizing
// TODO: html vs. body font size?
html {
    @include media-query($on-palm) {
        font-size: $small-font-size;
    }
}

// TODO: footer too high if not enough content; visible on timeline page
// .page-content {
//     min-height: 88vh;
// }
// .document-page {
//     min-height: 100%;
// }

/////////////////////////////
// Default Element Styling //
/////////////////////////////

// links
a {
    color: $brand-color;
    // text-decoration: none;

    &:visited {
        color: mix(black, $brand-color, 50%);
    }
    &:hover {
        color: mix(black, $brand-color, 50%);
        //text-decoration: underline;
    }
}
h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    //vertical-align: middle; //TODO: what's this for? ruins icons in navbar
}

video {
    max-width: 100%;
}

img.content {
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 400;

    color: rgb(80, 80, 80); 
}

//~1.09x multiplier
h1 {
    font-size: 170%;
}
h2 {
    font-size: 155%;
}
h3 {
    font-size: 140%;
}
h4 {
    font-size: 130%;
}
h5 {
    font-size: 120%;
}
h6 {
    font-size: 110%;
}

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: 0.7em;

    // override defaults: looks better when sides match
    margin-left: 0.5em;
    margin-right: 0.5em;

    // font-size: 1.1em;
}

pre, code {
    font-size: 0.92em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    background-color: #eef;
}
code {
    padding: 0.05em 0.3em; //0.05 to capture underlines
}
pre {
    padding: 0.4em 0.6em;
    overflow-x: auto;

    > code {
        border: 0;
        padding: 0;
    }
}

//////////////////////////
// Default Text Styling //
//////////////////////////

body {
    font-family: $base-font-family;
    font-weight: 100;
    // font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-weight: 300;
}

// encompasses the center bit -- everything except the header and footer
.page-content {
    font-size: 1.9em;
    line-height: $base-line-height;
    color: $text-color;
}