// border box sizing
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

// reset for em and rem
html {
    font-size: $base-font-size;
}
body {
    font-size: 1em;
}

// responsive font sizing
html {
    @include media-query($on-palm) {
        font-size: $base-font-size * 0.5;
    }
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    // font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    // font-weight: 300;
    font-weight: 400;
    // font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    // font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: rgb(80, 80, 80); 
}



.post {
    // background-color: pink;
    // padding: 20px;
    // border-radius: 10px;
    // margin-top: 20px;
    overflow: hidden;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 1.8em;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 1em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    background-color: #eef;
}

code {
    padding: 0.053em 0.263em;
}

pre {
    padding: 0.421em 0.632em;
    overflow-x: scroll;

    // AB:
    // width: 700px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 40px;
    // margin-bottom: 40px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-palm) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    // @include media-query($on-laptop) {
    //     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    //     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    //     padding-right: $spacing-unit / 2;
    //     padding-left: $spacing-unit / 2;
    // }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
