//////////////
// Includes //
//////////////

// %clearfix {
//     &:after {
//         content: "";
//         display: table;
//         clear: both;
//     }
// }

// TODO: should this include display: block?
// h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure,
%vertical-rhythm {
    //&:not(:last-child) { //AB: seems to be the way to go
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
        // @include media-query($on-palm) {
        //     margin-bottom: $layout-spacing-unit / 2;
        // }
    //}
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//////////////////////
// Top-Level Config //
//////////////////////

// border box sizing
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

// annoying mobile auto-resizing
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

// reset for em and rem
html {
    font-size: 10px;
}
body {
    font-size: $base-font-size;
}

// responsive font sizing
// TODO: html vs. body font size?
html {
    @include media-query($on-palm) {
        font-size: $small-font-size;
    }
}

// footer too high if not enough content; visible on timeline page
.page-content {
    // TODO: this is only approximate; I'm not really sure how else to do it
    min-height: calc(100vh - 9.7rem);
}
// HACK: oh boy this does not belong here at all
.document-page, .document-post {
    min-height: inherit;
}

/////////////////////////////
// Default Element Styling //
/////////////////////////////

// links
a {
    color: $brand-color;
    // text-decoration: none;

    &:visited {
        color: mix(black, $brand-color, 50%);
    }
    &:hover {
        color: mix(black, $brand-color, 50%);
        //text-decoration: underline;
    }

    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}
h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
    }
}

ol, ul {
    padding-left: 2.5em; //looks better in compact mode -- default is 40px
}

img {
    max-width: 100%;
    //vertical-align: middle; //TODO: what's this for? ruins icons in navbar
}

video {
    max-width: 100%;
}

img.content {
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 400;
    line-height: 1.2;

    color: #222; 
}

//~1.09x multiplier
h1 {
    font-size: 170%;
}
h2 {
    font-size: 155%;
}
h3 {
    font-size: 140%;
}
h4 {
    font-size: 130%;
}
h5 {
    font-size: 120%;
}
h6 {
    font-size: 110%;
}

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: 0.7em;

    // override defaults: looks better when sides match
    margin-left: 0.5em;
    margin-right: 0.5em;

    // font-size: 1.1em;
}

pre, code {
    font-size: 0.9em;
    line-height: 1.15;
}
code {
    padding: 0.05em 0.3em; //0.05 to capture underlines
    border-radius: 0.3em;
    background-color: mix(green, white, 15%);
}
pre {
    display: block;
    overflow-x: auto;

    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    background-color: #fafafa !important;
    border: mix(green, white, 20%) 1px solid;
    border-left: mix(green, white, 30%) 0.8rem solid;

    > code {
        background-color: transparent;
        border: 0;
        padding: 0;

        // AB: this is to remove bold from the syntax highlighting
        * {
            //font-weight: 10 !important;
        }
    }
}

//////////////////////////
// Default Text Styling //
//////////////////////////

body {
    font-family: $base-font-family;
}

// encompasses the center bit -- everything except the header and footer
.page-content {
    font-size: 1.9em;
    line-height: $base-line-height;
    color: $text-color;
}