// TODO: separate "document" class w/ "post" and "page" sibling clases?!
// TODO: is it right that this also includes post-list? should post-list be so closely related to
//       document? this has bitten me before...

$post-list-spacing-unit: 3rem;
$post-list-spacing-unit-small: 1.5rem;

///////////
// Style //
///////////

.post-list {
    padding-left: 0; // <ul> override: prevents gap from occuring on index page
    margin: 0; // <ul> override: prevents top and bottom margins from interfering with post margins
    list-style: none;
}

// spacing between front-page posts
.post-list {
    & > * {
        margin-top: $post-list-spacing-unit;
        margin-bottom: $post-list-spacing-unit;
        &:last-child {
            margin-bottom: 0; //to accommodate footnotes
        }
    }
    @include media-query($on-palm) {
        & > * {
            // margins too big on compact devices
            margin-top: $post-list-spacing-unit-small;
            margin-bottom: $post-list-spacing-unit-small;
            &:last-child {
                margin-bottom: 0; //to accommodate footnotes
            }
        }
    }
}

.document-post, .document-page {
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: white;

    .section-content {
        // fancy image hr
        hr {
            display: block;
            border: 0px;
            height: 1.5em;
            margin: 1.5em 0;

            background-size: 30em;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/images/Decoration.svg");
        }
    }

    // TODO: find better fix for image centering
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    video {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.document-post {
    .section-content {
        // top-level, secondary post headers should have decoration
        & > h2 {
            position: relative;

            &::before {
                content: "❡";
                position: absolute;
                left: -1.0em;
                color: lightgray;

                // margins too small for this to work on compact sizes
                @include media-query($on-palm) {
                    visibility: hidden;
                }
            }
        }
    }
}

.post-list {
    .document-post, .document-page {
        padding-left: $document-padding;
        padding-right: $document-padding;
        @include media-query($on-palm) {
            padding-left: $document-padding-small;
            padding-right: $document-padding-small;
        }

        padding-top: 0; //for header
    }
}

////////////
// Header //
////////////

.section-header {
    @extend %vertical-rhythm;
    display: block;
    margin-top: 0;

    text-align: center;

    // ignore vertical rhythm, except for mild spacing between title and date
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    h1.post-title {
        line-height: 1.1;
    }
}

.post-list {
    .section-header {
        text-align: left;

        h1.post-title {
            font-size: 140%;
        }

        // whole-header links require this brittle nonsense
        a.post-list-header-link {
            &:link, &:visited, &:hover, &:active {
                .post-title {
                    color: white;
                }
                text-decoration: none;
            }
        }

        // fancy touching-the-top header block
        .post-title {
            padding: 0.5rem 0.5rem;

            display: block;

            color: white;

            // edge touching
            margin-left: -$document-padding;
            padding-left: $document-padding;
            padding-right: $document-padding;
            margin-right: -$document-padding;
            @include media-query($on-palm) {
                margin-left: -$document-padding-small;
                padding-left: $document-padding-small;
                padding-right: $document-padding-small;
                margin-right: -$document-padding-small;
            }
        }
    }
}

.post-meta {
    color: $grey-color;
}
h2.post-meta { //we have to use h2 to override default header rules
    margin-top: 0.5rem;
    font-size: 1.0em;
}

// TODO: NEXT: ids
.document-header-categories {
    margin-left: 1rem;

    font-family: $alert-font-family;
    color: white;
    font-weight: 100;
    font-size: 0.9em;
}
.document-header-category {
    text-transform: capitalize;
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
}

////////////////
// Pagination //
////////////////

// TODO: arrow corners

.pagination {
    @include flex;
    @include justify-content-space-between;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    font-family: $header-font-family;
    font-weight: 500;
    font-size: 1.1em;

    $color: mix(black, #45ABF8, 60%);
    color: black;
    color: $color;
}

.pagination-page-number {
    @include flex-shrink(0);
    font-size: 1.1em;
}

.pagination-next {
    text-align: right;

    &:after {
        display: inline-block; //not needed right now, but needed if using transform below
        content: "▸"; //➾,←
        margin-left: 0.2em;
    }
}

.pagination-previous {
    text-align: left;

    &:before {
        display: inline-block;
        content: "▸";
        transform: scale(-1, 1);
        margin-right: 0.2em;
    }
}

.pagination-next, .pagination-previous {
    @include flex-shrink(0);
    width: 6em; //needed to center page count
}

// button appearance
.pagination-next, .pagination-previous {
    $color: mix(black, #30A4F1, 10%);

    text-decoration: none;
    text-align: center;
    background-color: $color;
    font-weight: 100;
    padding: 0.2rem 0.7rem;
    border-radius: 0.8rem;

    &:hover, &:visited, &:active, &:link {
        color: white;
    }
    &:hover {
        background-color: mix(black, $color, 20%);
        color: #eee;
    }
}

// if not <a> link, then we're on the first/last page -- doesn't work w/above for some reason
.pagination-next {
    @at-root span#{&} {
        visibility: hidden;
    }
}
.pagination-previous {
    @at-root span#{&} {
        visibility: hidden;
    }
}