///////////////////////
// Small Decorations //
///////////////////////

.more-inside {
    text-align: left;
    font-size: 1.05em;
}

.signature {
    text-align: right;

    p {
        margin: 0;
    }

    .signature-name {
        font-size: 115%;
        color: red;
    }
    .signature-date {
    }
}

///////////////////////
// Reusable Elements //
///////////////////////

.important-list {
    // list-style-position:inside;
}

.deprecated {
    color: darken(lightgray, 20%);
    text-decoration: line-through;
}

.update {
    color: green;

    // green links
    a {
        color: mix(black, green, 20%);

        &:visited {
            color: mix(black, green, 40%);
        }
        &:hover {
            color: mix(black, green, 0%);
        }
    }
}

// applied to div, not image
.full-width {
    @extend %vertical-rhythm;
    display: block;

    width: calc(100% + #{ $document-padding * 2 });
    margin-left: -$document-padding;
    @include media-query($on-palm) {
        width: calc(100% + #{ $document-padding-small * 2 });
        margin-left: -$document-padding-small;
    }

    img {
        max-width: 100%;
        min-width: 100%;
    }
}

////////////////
// Structures //
////////////////

.caption {
    // so that I don't have to wrap it in <p>
    @extend %vertical-rhythm;
    display: block;
}
.caption > p {
    text-align: center;
    color: grey;

    // font-size: 1.05em;
    // font-style: italic;

    font-family: $alert-font-family;
    font-size: 1.0em;
    font-style: italic;

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    // captions should be closer to their image than the default; and margin-bottom is handled by div
    margin-top: 0.25em;
    margin-bottom: 0;
}

//lots of images right next to one another; easier and more syntactically correct than wrapping in <p>
.image-series {
    @extend %vertical-rhythm;
    display: block;

    img {
        margin-bottom: 0.3em;
    }
}

// TODO: related to above... perhaps we can consolidate?
// TODO: revisit at some point, this is kinda ugly: 1) auto retina max width? 2) explicit wrap size?
.image-gallery {
    @extend %vertical-rhythm;
    display: block;
    
    h1 {
        font-size: 120%;
        text-align: center;
    }

    // not given a class for ease of use w/markdown
    div {
        @include flexbox;
        @include flex-wrap-wrap;
        @include justify-content-center;
        @include align-items-center;
    }

    div.image-gallery-two-column { //ish — determined by flex-basis
        // need second div to make sure image doesn't distort
        div {
            @include flex-shrink(1);
            @include flex-grow(1);
            @include flex-basis(25rem); //I believe this effectively acts as the target min width before wrap

            margin: 1rem;
        }
    }
}

.notification {
    // so that I don't have to wrap it in <p>
    @extend %vertical-rhythm;
    display: block;

    padding: 1.0rem 1.0rem;
    border-radius: 1.5rem;

    background-color: mix(white, green, 60%);
    color: #111;

    text-align: center;
    font-size: 1.05em;
    line-height: 1.2;
    font-family: $alert-font-family;
    font-weight: 400;

    // big bold word at the start
    strong {
        font-weight: 700;
    }

    // green links
    a {
        color: mix(black, green, 20%);

        &:visited {
            color: mix(black, green, 40%);
        }
        &:hover {
            color: mix(black, green, 0%);
        }
    }

    @include subtle-shadow;
}

////////////
// Mixins //
////////////

// https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/
@mixin youtube {
    position: relative;
    width: 100%;
    height: 0;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
.youtube_16_9 {
    @include youtube;
    padding-bottom: 56.25%;
}
.youtube_4_3 {
    @include youtube;
    padding-bottom: 75%;
}

////////////////
// TOC Widget //
////////////////

.toc {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.25em;

    margin-left: auto;
    margin-right: auto;

    border-radius: 1.5em;

    max-width: 55rem;

    ol {
        padding: 0;
    }

    @include subtle-shadow;
}

.toc-header {
    @include flex;
    @include justify-content-center;
    @include align-items-flex-start;
    @include flex-direction-row;

    text-align: left;
    margin-bottom: 1.0em;

    & > * {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 0;
    }
    & > :first-child {
        margin-left: 0;
    }
    & > :last-child {
        margin-right: 0;
    }
}

.toc-header > a {
    min-width: 4.5em;
    max-width: 4.5em;
}

.toc-links > ol {
    margin: 0;
    list-style-position:inside;
    counter-reset: i 0;
}

.toc-links li {
    padding: 0.15em 0.5em 0.15em 0.5em;
}

///////////////
// In Drafts //
///////////////

.code-source {
    // TODO: can't extend vertical rhythm w/o display block...

    $color: mix(orange, white, 40%);
    $symbol-color: red;

    background-color: $color;
    color: darken($color, 50%);

    display: inline-block;
    padding: 0.4em 0.7em;
    border-radius: 1.0rem;

    font-size: 105%;
    font-weight: 500;
    line-height: 1.15;

    &::before {
        font-size: 120%;
        margin-right: 0.02rem;
        padding: 0.02rem;
        color: $symbol-color;
        content: "☎";
    }
    
    p {
        display: inline;
    }
}

.new-jekyll-assets {
    $color: lavender;

    @extend %vertical-rhythm;
    display: block;

    padding: 1rem 5rem;
    color: darken($color, 60%);
    background-color: $color;
    font-size: 95%;
    border-radius: 1.0rem;
    
    h1 {
        font-size: 120%;
        font-weight: bold;
        text-align: center;
    }

    ul {
        padding-left: 0; //override default <ul> indentation -- looks better
    }
    
    .asset-name {
        font-weight: bold;
    }
}

///////////////
// Footnotes //
///////////////

.footnote {
    font-size: 1.1em;
    // &:link, &:hover, &:active, &:visited {
    //     color: red;    
    // }
}

.footnotes {
    border-top: solid 1px $grey-color-light;

    font-size: 0.9em;
    color: $grey-color;

    ol {
        padding-left: 1.0em; //override default list style -- numbers in line with margins
    }
}