.site-footer {
    font-size: 1.7rem;
    text-align: center;
    color: white;
}

.site-footer-background {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.site-footer-container {
    @include flexbox;
    @include justify-content-space-between;
    @include align-items-center;
}

.site-footer-credits {
    text-align: center;

    margin-right: 1rem;

    p {
        margin: 0; //override default paragraph behavior
    }
}

.site-footer-links {
    @include flexbox;
    @include align-items-center;
    @include flex-wrap-wrap;
    // @include flex-shrink(0);

    font-family: $header-font-family;
    font-weight: 500;
    font-size: 1.0em;
    line-height: 1.4;

    // icon links
    a {
        @include flexbox;
        @include align-items-center;

        &:link, &:visited, &:hover, &:active {
            color: white;
            text-decoration: underline;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    // captions
    span {
        white-space: nowrap;
        margin-left: 0.5rem;
    }
}