// TODO: is this file needed?

.header-footer-background {
    background: url("/images/congruent_pentagon_blurred.png") repeat center top scroll;
}

.header-footer-icon {
    width: 1.8rem;
}

.body-background {
    background: url("/images/congruent_pentagon.png") repeat center top scroll;
}