// TODO: is this file even needed?

////////////////////
// General Layout //
////////////////////

.site-header {
}

.page-content {
}

.site-footer {
}

////////////////////
// Layout Classes //
////////////////////

.wrapper {
    //max-width: $content-width;
    max-width: calc(#{$content-width} + (#{$document-padding} * 2));
    @include media-query($on-palm) {
        max-width: calc(#{$content-width} + (#{$document-padding-small} * 2));
    }

    margin-right: auto;
    margin-left: auto;
    
    // @extend %clearfix;

    padding-right: $document-padding;
    padding-left: $document-padding;
    @include media-query($on-palm) {
        padding-right: $document-padding-small;
        padding-left: $document-padding-small;
    }
}