// TODO: is this file even needed?

////////////////////
// General Layout //
////////////////////

.site-header {
}

.page-content {
}

.site-footer {
}

////////////////////
// Layout Classes //
////////////////////

.wrapper {
    //max-width: $content-width;
    max-width: calc(#{$content-width} + (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    
    // @extend %clearfix;

    padding-right: $document-padding;
    padding-left: $document-padding;
    // @include media-query($on-palm) {
    //     padding-right: $spacing-unit / 2;
    //     padding-left: $spacing-unit / 2;
    // }
}