// general layout
.site-header {
    margin-top: $spacing-unit;
    @include media-query($on-palm) {
        margin-top: $spacing-unit / 2;
    }
}

.site-footer {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    @include media-query($on-palm) {
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
    }
}

.page-content {
    margin-top: $spacing-unit * 2;
    @include media-query($on-palm) {
        margin-top: $spacing-unit;
    }
}

.image-series {
    img {
        margin-bottom: 0.3em;
    }
}

.page-content {
    font-size: 1.8em;

    // font-size: 1.2em;

    // TODO: find better fix for image centering
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin-bottom: 1em;
    }

    h1 {
        font-size: 175%;
    }

    h2 {
        font-size: 150%;
        // text-align: center;
    }

    h3 {
        font-size: 125%;
        // text-align: center;
    }

    h4 {
        font-size: 115%;
        // text-align: center;
    }
}

body {
    background-image: url("/images/bgpattern.jpg");
    background-attachment: fixed;
    @include media-query($on-palm) {
        background-size: 250px;
    }
    // background-image: url("/images/bgpatch.jpg");
}

// prevents gap from occuring on index page
.home {
    margin: 0;
    padding: 0;
}
.post-list {
    margin: 0;
    padding: 0;
}

// .body-wrapper {
//     background-color: white;
//     max-width: $content-width;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 1em;
//     padding-left: 3em;
//     padding-right: 3em;
//     padding-top: 0;
//     margin-top: 1em;
//     background-image: url("/images/background-blur3.jpg");
//     border-radius: 3em;
// }



.signature {
    font-size: 115%;
    text-align: right;
    margin-top: 3.5rem;

    p {
        font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
        margin: 0;
    }

    .signature-name {
        color: red;
    }
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

// .post-list {
//     margin-left: 0;
//     list-style: none;

//     > li {
//         background-color: darken(AliceBlue, 0%);
//         border: 4px darken(AliceBlue, 5%) solid;
//         // box-shadow: 5px 10px 10px lighten(lightgray, 5%);
//         padding: 15px;
//         border-radius: 10px;

//         margin-bottom: $spacing-unit;
//     }
// }

.post-meta {
    // font-size: $small-font-size;
    color: $grey-color;
    // padding: 0;
    // margin: 0;
    // line-height: 65%;
}

// .post-link {
//     display: block;
//     font-size: 30px;
//     padding: 0;
//     margin: 0;
//     line-height: 65%;
// }


// TODO:
body {
    // background-color: mix(blue, white, 3%);
    // background-image: url("/images/PaintBlobsLight.png");
}
.post {
    padding: 4rem;
    @include media-query($on-palm) {
        padding: 2.5rem;
    }

    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;
    // background-image: url("/images/background-blur1.jpg");
    // border: solid 10px lighten(lightblue, 5%);
    // border-color: lightblue;
    // background-color: mix(blue, white, 2%);
    border-radius: 2rem;
}


/**
 * Posts
 */
 .post-content {
    // padding: 15px;
    // // border-left: solid;
    // // border-right: solid;
    // border: dashed;
    // // border: solid;
    // border-top: none;
    // // border-radius: 10px;
    // border-width: 2px;
    // padding-left: 45px;
    // padding-right: 45px;
    // padding-top: 10px;
    // padding-bottom: 20px;
    // border-color: lighten(gray, 30%);
 }
.post-header {
// border: dashed;
// border: solid;
// border-bottom: none;
// border-radius: 10px;
//     border-width: 2px;
//     padding-left: 45px;
//     padding-right: 45px;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     border-color: lighten(gray, 30%);


    margin-bottom: $spacing-unit * 2;
    // margin-bottom: 15px;
    text-align: center;
    // padding: 0 10px 0 10px;
}

.post-list .post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    // font-size: 2.4rem;
    // letter-spacing: -1px;
    line-height: 1;

    padding: 0.5rem;
    border-radius: 0.4em;
}

.post-content {
    &:not(:last-child) {
        margin-bottom: $spacing-unit;
        @include media-query($on-palm) {
            margin-bottom: $spacing-unit / 2;
        }
    }
}


////////
// HR //
////////


hr {
    $image-height: 15px;

    display: block;
    border: 0px;
    // height: $image-height;
    height: 1.5em;
    margin: 40px 0 40px 0;

    background-size: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/Decoration.svg");
}
