.about-icon-container {
    // display: flex;
    // align-items: center;
}

.about-icon {
    > svg {
        // display: flex;
        // align-items: center;

        width: 1.6rem;
        height: 1.6rem;
        vertical-align: middle; //TODO: works OK, but not as well as flexbox alignment

        path {
            fill: $grey-color;
        }
    }
}