article {
    h2 {
        font-weight: 500;
    }

    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        $border-width: 0.2em;
        $decoration-spacing: 0.7em;

        color: darken(darkgray, 35%);

        margin-left: -($decoration-spacing + $border-width + 0.56em + 0.16em);
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.3em 0 0.3em $decoration-spacing;
        line-height: initial;

        &::before {
            content: "â¡";
            display: inline-block;
            width: 0.7em;
            // font-size: 80%;
            margin-right: 0.2em;
            color: lightgray;
            height: 100%;
            padding-top: auto;
            padding-bottom: auto;
        }

        a {
            border-bottom: dotted;
            border-color: lightgray;
            border-width: 2px;

            &, &:hover, &:visited {
                color: inherit;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

// pre {
//     & > code {
//         font-size: 1.0em;
//     }
//     line-height: 1.2em;
// }
