---
layout: page
title: Archive
permalink: /archive/
---
<!-- <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html | truncatewords: 50 }}{% endif %}</p> -->

<div class="home archive">

<ul class="archive-legend archive-list">
{% for category in site.data.categories %}
<li class="archive-legend-item">
<div class="category-swatch category-{{ category[0] }}"></div><div>{{ category[0] }}</div>
</li>
{% endfor %}
</ul>

<!-- This is a little bonkers, coming in at O(N^3), but it's simple and more understandable
than the alternatives. If performance becomes an issue I will revisit. -->

<ul class="archive-year-list archive-list">
{% for year_check in site.posts %}{% capture year_check_year %}{{ year_check.date | date: "%Y" }}{% endcapture %}{% if year_check_year != year %}{% capture year %}{{ year_check_year }}{% endcapture %}{% assign month = false %}
<li class="archive-year-element">
<h2 class="archive-year">{{ year }}</h2>
<ul class="archive-month-list archive-list">
{% for month_check in site.posts %}{% capture month_check_year %}{{ month_check.date | date: "%Y" }}{% endcapture %}{% capture month_check_month %}{{ month_check.date | date: "%B" }}{% endcapture %}{% if month_check_year == year %}{% if month_check_month != month %}{% capture month %}{{ month_check_month }}{% endcapture %}
<li class="archive-month-element">
<h3 class="archive-month">{{ month }}</h3>
<ul class="archive-post-list archive-list">
{% for post in site.posts %}{% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}{% capture post_month %}{{ post.date | date: "%B" }}{% endcapture %}{% if year == post_year %}{% if month == post_month %}
<li class="archive-post-element{% include category_class.scss post=post %}">
<div id="{{ post.selector_id }}" class="archive-post">
<div id="{{ post.selector_id }}-inner" class="archive-post-blurb">
<a href="{{ post.url | prepend: site.baseurl }}">
<div class="post-title{% include category_class.scss post=post %}">
<h4>{{ post.title }}</h4>
</div>
</a>
</div>
</div>
</li>
{% endif %}{% endif %}{% endfor %}
</ul>
</li>
{% endif %}{% endif %}{% endfor %}
</ul>
</li>
{% endif %}{% endfor %}
</ul>

</div>