---
layout: default
---
<div class="document-post{% include category_class.scss post=page %}" id="{{ page.selector_id }}">
<div class="wrapper">

<header class="section-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h2 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}<span class="document-header-categories">{% for category in page.categories %} <span class="document-header-category category-{{ category }}">{{ category }}</span>{% endfor %}</span></h2>
</header>

<article class="section-content">

{{ content }}{% include signature.html %}

</article>

</div>
</div>